@using ITMO.Dev.ASAP.WebUI.AdminPanel.ExceptionHandling
@using ITMO.Dev.ASAP.Application.Dto.Study
@using ITMO.Dev.ASAP.WebApi.Abstractions.Models.Subjects
@using ITMO.Dev.ASAP.WebApi.Sdk.ControllerClients
@using ITMO.Dev.ASAP.WebUI.AdminPanel.SafeExecution
@inject ISubjectClient SubjectClient
@inject ISafeExecutor SafeExecutor

<Modal @ref="_modal" VisibleChanged="OnVisibleChanged">
    @if (_contentVisible)
    {
        <ModalContent>
            <ModalHeader>
                <ModalTitle>Create subject</ModalTitle>
                <CloseButton/>
            </ModalHeader>

            <MediaBody>
                <Div Padding="Padding.Is4">

                    <TextField @ref="_subjectNameField"
                               Placeholder="Subject name"
                               OnStateChanged="StateHasChanged"/>

                    <Div Flex="Flex.JustifyContent.Center">
                        <Button Clicked="CreateSubject"
                                Background="Background.Primary"
                                TextColor="TextColor.White">
                            Create
                        </Button>
                    </Div>
                </Div>
            </MediaBody>
        </ModalContent>
    }
</Modal>

@code {

    private bool _contentVisible;

    private Modal? _modal;
    private TextField? _subjectNameField;

    private bool ButtonEnabled => _subjectNameField?.HasValue is true;

    [Parameter]
    public EventCallback<SubjectDto> OnSuccess { get; set; }

    public async Task ShowAsync()
    {
        await (_modal?.Show() ?? Task.CompletedTask);
    }

    private async Task CreateSubject()
    {
        if (string.IsNullOrEmpty(_subjectNameField?.Value))
            return;

        await using ISafeExecutionBuilder<SubjectDto> builder = SafeExecutor.Execute(async () =>
        {
            var request = new CreateSubjectRequest(_subjectNameField.Value);
            var subject = await SubjectClient.CreateAsync(request);

            await (_modal?.Hide() ?? Task.CompletedTask);

            return subject;
        });

        builder.Title = "Failed to create subject";
        builder.OnSuccessAsync(OnSuccess.InvokeAsync);
    }

    private void OnVisibleChanged(bool visible)
    {
        _contentVisible = visible;
    }

}