@page "/adminpanel/students"
@layout PaddedLayout
@using ITMO.Dev.ASAP.WebUI.AdminPanel.Components.Students
@attribute [Authorize(Roles = "Admin, Moderator")]

<Div Flex="Flex.Column" Height="Height.Is100">

    <Heading Size="HeadingSize.Is2">
        Students
    </Heading>

    <StudentQueryComponent/>
</Div>

@code {

}