@page "/adminpanel/students"
@layout PaddedLayout
@using ITMO.Dev.ASAP.WebUI.Markup.Students.Components
@using ITMO.Dev.ASAP.WebUI.Abstractions.Contracts.Messaging
@using ITMO.Dev.ASAP.WebUI.Abstractions.Contracts.Events.Navigation
@inject IMessageConsumer Consumer

@attribute [Authorize(Roles = "Admin, Moderator")]

<Div Flex="Flex.Column" Height="Height.Is100">

    <Heading Size="HeadingSize.Is2">
        Students
    </Heading>

    <StudentQueryComponent/>
</Div>

@code {

    protected override void OnParametersSet()
    {
        var evt = new NavigatedToStudentsPageEvent();
        Consumer.Send(evt);
    }

}