@page "/adminpanel/groups"
@layout PaddedLayout
@using ITMO.Dev.ASAP.WebUI.Markup.Groups.Components
@using ITMO.Dev.ASAP.WebUI.Abstractions.Contracts.Messaging
@using ITMO.Dev.ASAP.WebUI.Abstractions.Contracts.Events.Navigation
@attribute [Authorize(Roles = "Admin, Moderator")]

@inject IMessageConsumer Consumer

<Div Flex="Flex.Column" Height="Height.Is100">

    <Heading Size="HeadingSize.Is2">
        Groups
    </Heading>

    <GroupQueryComponent/>
</Div>

@code {

    protected override void OnParametersSet()
    {
        var evt = new NavigatedToGroupsPageEvent();
        Consumer.Send(evt);
    }

}