@page "/adminpanel/subjects"
@using ITMO.Dev.ASAP.WebUI.Markup.Subjects.Components
@using ITMO.Dev.ASAP.WebUI.Abstractions.Authorization
@using ITMO.Dev.ASAP.WebUI.Abstractions.Contracts.Events.Navigation
@using ITMO.Dev.ASAP.WebUI.Abstractions.Contracts.Messaging
@using ITMO.Dev.ASAP.WebUI.Abstractions.Extensions
@using ITMO.Dev.ASAP.WebUI.Markup.Structure.Subjects
@inject ICurrentUser CurrentUser
@inject IMessagePublisher Publisher

<Div Flex="Flex.Row.JustifyContent.Between.AlignItems.Center">
    <Heading Size="HeadingSize.Is2" Padding="Padding.Is3.FromStart.Is2">
        Subjects
    </Heading>

    @if (CurrentUser.HasModeratorAccess())
    {
        <Div Padding="Padding.Is3.FromEnd.Is2">
            <CreateButton Clicked="@(() => _createSubjectModal?.ShowAsync() ?? Task.CompletedTask)"/>
        </Div>
    }

</Div>

<SubjectListComponent/>


@if (CurrentUser.HasModeratorAccess())
{
    <CreateSubjectModal @ref="_createSubjectModal"/>
}


@code {
    private CreateSubjectModal? _createSubjectModal;

    protected override void OnParametersSet()
    {
        var evt = new NavigatedToSubjectsPageEvent();
        Publisher.Send(evt);
    }

}